body {
  background: #022737;
  text-align: center;
  color: #fff;
}

.App {
  padding: 0 5% 0 5%;
}

#user-card {
  width: fit-content;
  max-width: 98%;
  margin: 10% auto 10% auto;
  display: flex;
  justify-content: center;
  text-align: left;
}

.img-por-container {
  min-width: 80px;
}
