body {
  background: #022737;
  text-align: center;
  color: #fff;
}

.App {
  padding-top: 10%;
}

#user-card {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: left;
}
